@CHARSET "UTF-8";

.join_agree{
	margin-left: 15%;
	margin-right: 15%;
	height: 1500px;
	padding: 80px 0;
}

.tit_bk_left {
    font-size: 49px;
    text-align: left;
    text-shadow: -0.08em 0.08em #C2BCB9;
    color: #582D32;
    letter-spacing: 2px;
    font-weight: normal; 
}

.pt30 {
    padding-top: 30px;
}

.join_wrapper {
    
}

.stepGuide {
	width: 100%;
    border-top: 1px solid #0b0205;
    border-bottom: 1px solid #e6e5e6;
    height: 106px;
    margin: 35px 0 74px 0;
    list-style: none;
    padding : 0;
    float: left;
    text-align:  center;

}

.stepGuide li p {
    font-family: oswald;
    font-size: 36px;
    color: #cdcdcd;
    margin-top: 30px;
}
#a{
	text-shadow: -0.08em 0.08em #C2BCB9;
    color: #582D32;
	font-weight: 900;
}

#a2{
	font-weight: 800;
}

.stepGuide li {
    width: 109px;
    height: 106px;
    display: inline-block;
    letter-spacing: -.5px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 0 50px;
}

.stepGuide .stepGuide_on {
    color: #1e1e1f;
    background: url(../images/rightB_icon.png) no-repeat right center;
}


.stepGuide .stepGuide_on2 {
    color: #1e1e1f;
}

.stepGuide .stepGuide_on2 span {
    display: inline-block;
    width: 109px;
    padding-bottom: 5px;
    border-bottom: solid 3px #582D32;
    color: #582D32;
}


.stepGuide .stepGuide_off {
    color: gray;
    background: url(../images/rightB_icon2.png) no-repeat right center;
}

.stepGuide .stepGuide_on span {
    display: inline-block;
    width: 109px;
    padding-bottom: 5px;
    border-bottom: solid 3px #582D32;
    color: #582D32;
}

.checkALL {
    border: 1px solid #d2d2d2;
    height: 56px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    letter-spacing: -.3px;
    text-align: center;
    line-height: 56px;
    margin-bottom: 39px;
    background: #fefefe;
    display: flow-root;
}

/* .terms_wrapper {
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e1e1f;
    margin-bottom: 10px;
} */



.siteTerms{
	width: 45%;
	float: left;
}

.siteTerms textarea {
	width : 95%;
    height: 297px;
    background: #fafafa;
    font-size: 15px;
    letter-spacing: -.5px;
    padding: 25px 0 0 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e1e1f;
    margin: 10px 0 17px 0;
    border: 1px solid #d2d2d2;
    resize: none;
}

.personalTerms{
	width: 45%;
	float: right;
}


.personalTerms textarea {
    width: 95%;
    height: 297px;
    background: #fafafa;
    font-size: 15px;
    letter-spacing: -.5px;
    padding: 25px 0 0 20px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #1e1e1f;
    margin: 10px 0 17px 0;
    border: 1px solid #d2d2d2;
    resize: none;
}



.btnBox {
    margin-top: 50%;
    list-style: none;
    margin-left: 35%;
}

.btnBox .nextBtn {
    width: 170px;
    height: 41px;
    background: #582D32;
    color: #fafafa;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    margin: 0 13px 200px 0;
    cursor: pointer;
}

.btnBox .cancelBtn {
    width: 170px;
    height: 41px;
    background: #fcfcfc;
    color: #582D32;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    cursor: pointer;
}


.btnBox button{
	margin: 0 auto;
}


.sp{
	font-size: 12px;
	font-weight: 700;
	color: red;
	line-height: 16px;
}

.singer{
	display: none;
	height: 50px;;
	border-bottom: 1px #ddd solid;	
}

.join_td{
	width: 15%;
	background-color: #f6f6f6;
	vertical-align: middle;
}

.join_tr{
	height: 50px;;
	border-bottom: 1px #ddd solid;
}

.joinForm{
	height: 1000px;
}

.btnBox2 {
    margin-top: 5%;
    list-style: none;
    margin-left: 35%;
}

.btnBox2 .nextBtn {
    width: 170px;
    height: 41px;
    background: #582D32;
    color: #fafafa;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    margin: 0 13px 200px 0;
    cursor: pointer;
}

.btnBox2 .cancelBtn {
    width: 170px;
    height: 41px;
    background: #fcfcfc;
    color: #582D32;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    cursor: pointer;
}

.btnBox2 button{
	margin: 0 auto;
}

.Join_input{
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 30px;
    margin-left: 3%;
    width: 20%;
}

.join_OK{
	margin-left: 15%;
	margin-right: 15%;
	padding: 80px 0;
}


.Join_Thank{
	 background: url(../images/thank.png) no-repeat center;
	 background-size : 250px;
	 margin-top: 200px;
	 height: 200px;
}

.login_member {
    float: left;
    width: 440px;
    height: 161px;
    margin: 40px 0 0 140px;
    padding-top: 30px;
    padding-right: 95px;
    border-right: 1px solid #c7c7c7;
    position: relative;
    margin-top: -100px;
}

.top_wrap {
    width: 100%;
    position: relative;
}



.top_wrap h5 {
    font-family: "Noto Sans KR",sans-serif;
    font-size: 16px;
    color: 1e1e1f;
}

.login_member h5 {
    position: absolute;
    top: -10px;
}




.id_login{
    width: 66%;
    height: 40px;
    border: 1px solid #c7c7c7;
    padding-left: 10px;
    margin: 5px 0;
    margin-left: 5px;
    margin-top: 30px;	
}

.pw_login{
    width: 66%;
    height: 40px;
    border: 1px solid #c7c7c7;
    padding-left: 10px;
    margin: 5px 0;
    margin-left: 5px;
    margin-top: 30px;		
}


.login_member .login_Btn {
    width: 120px;
    height: 97px;
    background: #fcfcfc;
    border: 2px solid #582D32;
    margin: 0;
    float: right;
    position: absolute;
    left: 310px;
    top: 60px;
    cursor: pointer;
    color: #582D32;
}

.loginGuide {
	width: 100%;
    border-top: 1px solid #0b0205;
    height: 106px;
    margin: 35px 0 74px 0;
    list-style: none;
    padding : 0;
    float: left;
    text-align:  center;

}

fieldset{
	border: none;
}

.ck{
    width: 12px;
    height: 12px;
    top: 165px;
    left: 0px;
}

.login_info{
	list-style: none;
	display: flex;
}

.id_search{
	margin-top: 24px;
    margin-left: 15%;
}

.JoinBtn {
    width: 170px;
    height: 41px;
    background: #582D32;
    color: #fafafa;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    margin: 0 13px 200px 0;
    cursor: pointer;
    margin-left: 10%;
    margin-top: 3%;
}

.login_joinGuide{
    width: 40%;
    float: right;
    margin-top: -35px;
} 

#poto:hover {
    transform: scale(1. 2);
    -webkit-transform: scale(4.99);
}




.modal-header, h4, .close {
    background-color: white;
    color: #0b0205 !important;
    text-align: center;
    font-size: 30px;
    border: 0px;
    font-weight: normal;
}

.modal-header, .modal-body {
    padding: 20px 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cancelBtnOK {
    width: 108px;
    height: 30px;
    background: #000;
    color: #fafafa;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 14px;
    letter-spacing: -1.5px;
    text-align: center;
    border: 2px solid #1e1e1f;
    margin: 0 13px 200px 0;
    cursor: pointer;
    border-radius: 7px;
}

.modal-dialog2 {
    height: 53%;
}

.filebox label {
  display: inline-block;
  padding: .5em .75em;
  color: #999;
  font-size: inherit;
  line-height: normal;
  vertical-align: middle;
  background-color: #fdfdfd;
  cursor: pointer;
  border: 1px solid #ebebeb;
  border-bottom-color: #e2e2e2;
  border-radius: .25em;
}

.filebox input[type="file"]  {  
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox {
	display:inline-block; 
	margin-right: 10px;
}


.step{
	width: 100%;
    border-top: 1px solid #0b0205;
    border-bottom: 1px solid #e6e5e6;
    height: 106px;
    margin: 35px 0 74px 0;
    list-style: none;
    padding : 0;
    float: left;
    margin-bottom: auto;
}

#Search{
	font-size: 17px;
    text-align: left;
    text-shadow: -0.08em 0.08em #C2BCB9;
    color: #582D32;
    letter-spacing: 2px;
    font-weight: normal;
}



#id_search{
    width: 166%;
    text-align: center;
    height: 100%;
    border: 1px solid #582D32;
    background-color: #582D32;
    color: white;
    padding-left: inherit;
    margin-left: 307%;
}

#pw_search{
    width: 27.5%;
    text-align: center;
    height: 100%;
    border: 1px solid #582D32;
    background-color: #582D32;
    color: white;
    padding-left: inherit;
    margin-left: 70.3%;
    margin-top: 4px;
}


.fb_position{
	margin-left: 10.5%;
}

#enter1{
	width: 70px;
    height: 30px;
    border: 1px solid #582D32;
    background-color: #582D32;
    color: white;
    border-radius: 10%;	
}

#cancle1{
	width: 70px;
    height: 30px;
    border: 1px solid #582D32;
    background-color: white;
    border-radius: 10%;		
}

.mypage{
    width: 49%;
    height: 19.5%;
    float: left;
    border: 2px solid #582D32;
    margin-top: 4%;
}
.mypage1{
    width: 49%;
    height: 19.5%;
    float: right;
    border: 2px solid #582D32;
    margin-top: 4%;
}
.mypage2{
    width: 49%;
    height: 21%;
    float: left;
    border: 2px solid #582D32;
    margin-top: 2%;
}
.mypage3{
	width: 49%;
    height: 21%;
    float: right;
    margin-top: 2%;
   	border: 2px solid #582D32;
}
.inpo{
    margin-left: 5%;
    margin-top: 5%;
    font-size: medium;
}

.memberinfo{
	display: inline;
	position: absolute;
	margin-top: 1%;
	margin-left: 1%;
	border-collapse: collapse;
}


.update{
	width: 15%;
    height: 11%;
    background: #fcfcfc;
    color: #582D32;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    cursor: pointer;
    margin-top: 12%;
    margin-left: 5%;
}

.memberNotice{
	margin-left: 4.5%;
	width: 91%;
	margin-top: 3%;
	border-collapse: collapse;
}

.noticeNum{
	width: 11%;
    text-align: center;
    background-color: #F6F6F4;
    height: 30px;
    border-bottom: 1px solid #DDD;
    color: #774F41;
}

.noticeTitle{
	width: 42%;
    text-align: center;
    background-color: #F6F6F4;
    height: 30px;
    border-bottom: 1px solid #DDD;
    color: #774F41;
}

.noticeReg_date {
    width: 24%;
    text-align: center;
    background-color: #F6F6F4;
    height: 30px;
    border-bottom: 1px solid #DDD;
    color: #774F41;
}

.noticeId{
	width: 22%;
    text-align: center;
    background-color: #F6F6F4;
    height: 30px;
    border-bottom: 1px solid #DDD;
    color: #774F41;
}

.add{
	width: 15%;
    height: 11%;
    background: #fcfcfc;
    color: #582D32;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    cursor: pointer;
    margin-top: 9%;
    margin-left: 5%;
}

#memberNotice_checkbox{
    width: 5%;	
}

.memberNotice_num{
    width: 10%;	
}

.memberNotice_title{
	width: 40%;	
}

.memberNotice_reg_date{
	width: 10%;	
}

#.memberNotice_writer{
	width: 10%;	
}

.memberNoticeList_table{
	width: 100%;
}

.memberNotice_tr{
	background-color: #f2f2f2;
    border: 1px solid #ddd;
    height: 50px;
    text-align: center;
}

.memberNotice_tr2{
    border: 1px solid #ddd;
    height: 50px;
    text-align: center;
}

.memberNoticeUpdate{
	width: 170px;
    height: 41px;
    background: #582D32;
    color: #fafafa;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    margin: 0 13px 200px 0;
    cursor: pointer;
}

.memberNoticeDelete{
	width: 170px;
    height: 41px;
    background: #fcfcfc;
    color: #582D32;
    font-family: Notosanskr, Malgun Gothic;
    font-size: 16px;
    letter-spacing: -.5px;
    text-align: center;
    border: 2px solid #582D32;
    cursor: pointer;
}

.memberinfo_td1{
	background-color: #F6F6F4;	
	color: #774F41;
}

#noticemember{
	text-decoration: none;
}






















