<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CalMapper">

	<select id="selectList" parameterType="ListData" resultType="CalDTO">
	select * from (select rownum R, N.* from (select * from busking
		<where>
		<if test="search !=''">
		teamname LIKE '%'||#{search}||'%'
		</if>
		<if test="kind !=''">
		and location LIKE '%'||#{kind}||'%'
		</if>
		<if test="fromDate !=''">
		and busk_date >= TO_DATE(#{fromDate},'YYYY-MM-DD')
  		and busk_date &lt;= TO_DATE(#{toDate},'YYYY-MM-DD')+0.99999421
  		</if>
  		</where>
		order by busk_date asc) N )
		where R between #{startRow} and #{lastRow}
	</select>

<!--<select id="totalCount" parameterType="ListData" resultType="int">
		select nvl(count(num),0) from busking where busk_date >= TO_DATE(#{fromDate},'YYYY-MM-DD') and
		busk_date &lt;= TO_DATE(#{toDate},'YYYY-MM-DD')+1
	</select>  -->

	<select id="selectOne" parameterType="CalDTO" resultType="CalDTO">
		select * from busking where num=#{num}
	</select>
	
	<select id="selectre" parameterType="ListData" resultType="CalDTO">
		select * from (select rownum R, N.* from (select * from busking
		order by busk_date asc) N )
		where R between #{startRow} and #{lastRow}
	</select>
	
	<select id="dd" resultType="CalDTO">
		select * from busking order by busk_date asc
	</select>
</mapper>