<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="RankingMapper">
  
  	<select id="sponMemberRank" parameterType="ListData" resultType="SponDTO">
  		select
	  		<if test="kind == 'mostSponMember'">
		  		id, SUM(price) price from spon
		  		<if test="search == ''">
		  			GROUP BY ID order by price desc
		  		</if>
		  		<if test="search != ''">
		  			where id LIKE '%'||#{search}||'%' GROUP BY ID
		  		</if>
	  		</if>
	  		<if test="kind == 'mostSponSinger'">
	  			teamname, SUM(price) price from spon
		  		<if test="search == ''">
		  			GROUP BY TEAMNAME order by price desc
		  		</if>
		  		<if test="search != ''">
		  			where teamname LIKE '%'||#{search}||'%' GROUP BY TEAMNAME
		  		</if>
	  		</if>
	  		<if test="kind == 'mostPostMember'">
	  			id,	nvl(post, 0) price from member
	  			<if test="search == ''">
		  			order by post desc
		  		</if>
		  		<if test="search != ''">
		  			where id LIKE '%'||#{search}||'%'
		  		</if>
	  		</if>
	  		<if test="kind == 'mostJoinSinger'">
	  			teamname, SUM(entry_member) price from busking
		  		<if test="search == ''">
		  			GROUP BY TEAMNAME order by price desc
		  		</if>
		  		<if test="search != ''">
		  			where teamname LIKE '%'||#{search}||'%' GROUP BY TEAMNAME
		  		</if>
	  		</if>
  	</select>
  	
  	<select id="sponMemberRank2" parameterType="java.util.List" resultType="MemberDTO">
  		select * from member where id in
  		<foreach item="rankList" collection="list" open="(" separator="," close=")">
       		#{rankList.id}
  		</foreach>
  	</select>
  	
  	<select id="sponMemberRank3" parameterType="java.util.List" resultType="MemberDTO">
  		select * from member where teamname in 
	  		<foreach item="rankList" collection="list" open="(" separator="," close=")">
	       		#{rankList.teamName}
	  		</foreach>
  	</select>
  
  </mapper>