@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
#indexvideo{
	z-index: -999px;
}
.hh{
	width: 100%;
	z-index: -500px;
	color: white;
	font-family: 'Nanum Pen Script', cursive;
	line-height: 80%;	
	position: absolute;
	text-align: center;
	margin: auto;
}

#hh1{
	top: 55%;
	font-size: 150PX;
}
#hh2{
	top: 70%;
	font-size: 30PX;
}
#img{
	position: absolute;
	top: 75%;
	left: 48%;
}
#btn{
	width: 15%;
	height: 40px;
	position: absolute;
	top: 80%;
	left: 42%;
	text-align: center;
	text-decoration: none;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 30px;
	color: #4f4f4f;
	background-color: #EAE7E7;
	line-height: 40px;
	cursor: pointer;
}

#btn:hover{
	color: white;
	background-color: #A54040;
	transition:background-color 2s;
	text-decoration: none;
}