<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	<typeAliases>
		<typeAlias type="com.kh.member.MemberDTO" alias="MemberDTO"/>

		<typeAlias type="com.kh.file.FileDTO" alias="FileDTO"/>
		<typeAlias type="com.kh.location.LocationDTO" alias="LocationDTO"/>
		<typeAlias type="com.kh.spon.SingerDTO" alias="SingerDTO"/>
		<typeAlias type="com.kh.spon.SponDTO" alias="SponDTO"/>
		<typeAlias type="com.kh.notice.NoticeDTO" alias="NoticeDTO"/>
		
	</typeAliases>
  </configuration>