@CHARSET "UTF-8";
#monthH{
	background-color: #28272c;
}
#calendarBox{
 width: 100%;
 background-color: #f6fafb;
 border: solid 4px #e7eff2;
}

#calendarBox table .red{
 color: red;
}

#calendarBox table .blue{
 color: blue;
}

#calendarBox table .black{
 color: black;
}

#calendarNav{
 width: 100%;
 text-align: center;
 padding-top: 10px;
 margin-top: 15px;
}

#calendarNav select{
 font-size: 15px;
 font-weight: bold;
 margin: 0 5px;
 padding: 5px;
}

#calendarNav table{
 width: 100%;
 text-align: center;
}

#calendarNav table th{
 padding-top: 15px;
 font-size: 15px;
 width: 14.3%;
}

#calendarDiv{
 width: 100%;
 text-align: center;
}

#calendarDiv table{
 width: 100%;
}

#calendarDiv table td{
 height: 60px;
 width: 14.3%;
 padding: 5px;
 background-color: #ffffff;
 vertical-align: top;
 border: 1px solid #f6fafb;
}
