@CHARSET "UTF-8";
#monthH{
	background-color: #28272c;
}
#mon{
	width: 70%;
	height: 80px;
	margin: auto;
	display:block;

	position: relative;
}
#monin{
	position: absolute;
	top: 0;
	left: 0;
	color: #C2BCB9;
	font-size: 300%;
	font-weight: bolder;
	letter-spacing: -5px;
}
#cal{
	width: 70%;
	height: 800px;
	margin: auto;
	position: relative;
	top: 0;
	left: 0;
}
/* ===================달력================== */
#calendar {
    width: 70%;
    margin: auto;    
}


#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#calendar li {
    display: block;
    float: left;
    width:14.342%;
    padding: 5px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: #582d32;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 6px;
    color: #f6f5f1;
    font-size: 13px;
}

#calendar .days li {
    height: 180px;
}

#calendar .days li:hover {
    background: #c2bcb9;
}

#calendar .date {
    text-align: center;
    margin-bottom: 5px;
    padding: 4px;
    color: #444444;
    width: 20px;
    float: right;
    vertical-align: bottom;

}

#calendar .event {
    clear: both;
    display: block;
    font-size: 13px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 40px;
    margin-bottom: 5px;
    line-height: 14px;
    background: #e4f2f2;
    border: 1px solid #b5dbdc;
    color: #009aafo
    text-decoration: none;
}

#calendar .event-desc {
    color: #666;
    margin: 3px 0 7px 0;
    text-decoration: none;  
}

#calendar .other-month {
    background: #eae7e7;
    color: #666;
}

/* ============================
                Mobile Responsiveness
   ============================*/


@media(max-width: 768px) {

    #calendar .weekdays, #calendar .other-month {
        display: none;
    }

    #calendar li {
        height: auto !important;
        border: 1px solid #ededed;
        width: 100%;
        padding: 10px;
        margin-bottom: -1px;
    }

    #calendar .date {
        float: none;
    }
}
/* ===================달력================== */
