@CHARSET "UTF-8";
#searchH {
	background-color: #494750;
}
.page{
	cursor: pointer;
}
/* dld */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);
* {
  box-sizing: border-box;
}
/* 
html,
body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #fff;
} */
#sec{
	width: 70%;
	margin: auto;
}
.row {
  max-width: 100%;
  margin: 0 auto;
  background: white;
  background-color: #eae7e7;
  position: relative;
  z-index: 1;
  text-align: center;
}
.row:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
/*   left: -5000px;
  height: 100%;
  width: 15000px; */
  z-index: -1;
  background: inherit;
}
.row:first-child {
  padding: 40px 30px;
}
.row:nth-child(2), .row:nth-child(8), .row:nth-child(10) {
  background: #eae7e7;
}
.row:nth-child(3), .row:nth-child(7) {
  background: #377D6A;
}
.row:nth-child(4), .row:nth-child(6) {
  background: #a54040;
}
.row:nth-child(5) {
  background: #B2E3AF;
}
.row span {
  position: relative;
  display: inline-block;
  /* margin: 30px 10px; */
}

.balloon {
  display: inline-block;
  width: 210px;
  padding: 10px 0 10px 15px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  color: #582d32;
  background: #c2bcb9;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-indent: 60px;
  transition: all .3s ease-in-out;
}
.balloon::-webkit-input-placeholder {
  color: #c2bcb9;
  text-indent: 0;
  font-weight: 300;
}
.balloon + label {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  bottom: 8px;
  padding: 5px 15px;
  color: #28272c;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0);
  transition: all .3s ease-in-out;
  border-radius: 3px;
  background: rgba(122, 184, 147, 0);
}
.balloon + label:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid rgba(122, 184, 147, 0);
  transition: all .3s ease-in-out;
}

.balloon:focus,
.balloon:active {
  color: #eae7e7;
  text-indent: 0;
  background: #7a716d;
}
.balloon:focus::-webkit-input-placeholder,
.balloon:active::-webkit-input-placeholder {
  color: #a09996;
}
.balloon:focus + label,
.balloon:active + label {
  color: #fff;
  text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
  background: #a54040;
  transform: translateY(-40px);
}
.balloon:focus + label:after,
.balloon:active + label:after {
  border-top: 4px solid #a54040;
}
#btn{
  padding: 10px 10px 10px 10px;
  font-family: "Open Sans", sans;
  font-weight:bold; 
  color: #a54040;
  background-color: #c2bcb9;
  border: 0;
  border-radius: 3px;
  outline: 0;
  text-align: center;
  transition: all .3s ease-in-out;
}
#singer{
	width: 100%;
	height: 35px;
	margin: auto;
	background-color: #c2bcb9;
	color: #28272c;
	font-weight:100;
	text-align: left;
  	padding: 5px 10px 5px 10px;
  	font-family: "Open Sans", sans;
  	position: relative;
  	margin-bottom: 30px;
}
#singerle{
	width: 8%;
	height: 500px;
	float: left;
	color: black;
	font-size: 200%;
	font-weight: bold;
	letter-spacing: -1px;
	text-align: center;
	line-height: 80%;
	border-right: 2px solid black;

}

#singerri1{
	width: 90%;
	height: 50px;
	float: left;
	color: black;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 5px;
	text-align: left;
  	padding: 12px 10px 5px 20px;
  	border-bottom: 2px solid black;
}
#singerri2{
	width: 90%;
	height: 450px;
	float: left;
	background-color: #eae7e7;
	color: black;
	z-index: 2;
}
#singerri3{
	width: 95%;
	height:390px;
	color: black;
	background-color: white;
	margin: auto;
	margin-top: 35px;

}
#singerri4{
	width: 30%;
	height: 100%;
	border-right: 1px solid black;
	float: left;
}
#singerri4 p{
	margin-left: 5%;
	margin-top: 10%;
}
#pic{
	width:50%;
	height: 100px;
	background-color: yellow;
	margin-left: 5%;
	
}
#do{
	width: 100px;
	height: 26px;
	margin-top: 5%;
	margin-left: 5%;
	color: #f6f5f1;
  	background: #a54040;
  	border: 0;
  	border-radius: 3px;
 	outline: 0;
 	cursor: pointer;
}
#do:hover{
	background-color: #582d32;
}
#page{
	width: 50%;
	margin: auto;
}

