@CHARSET "UTF-8";

<style type="text/css">
	* {
		margin: 0;
		padding: 0;
}

#container-area{
	padding-top: 100px;
    overflow: hidden;
    padding-bottom: 150px;
    height: 1350px;
	text-align: center;
    }
    
#content-area .fr {
    float: right;
}

#main-area {
    width: 773px;
}

#busk_main {
	height: 1058px;
	width: 773px;
}

