@CHARSET "UTF-8";

<style type="text/css">
	* {
		margin: 0;
		padding: 0;
}

#ex{
	display: none;
} 
.remove{
	cursor: pointer;          
}

#pop {
	font-size: 20px;
    color: #fff;
    line-height: 50px;
    padding: 0 30px;
    background: #9f8e80;	
}

#pop_wrap {
    width: 950px;
    height: 800px;
	padding: 30px;
	position: relative;
	max-width: 1180px;
    margin: 0 auto;
    border-style: outset;
    margin-top: 100px;
    
    
}
    
.top_info {
    margin-bottom: 15px;
}

ul, ol {
    list-style-type: none;
}

.writer {
	width: 30px;
	padding-bottom: 30px;
}

.input_wrap .input_col {
    display: table;
    width: 150%;
    border-top: 2px solid #d3d3d3;
}

#contents {
	
	width: 70%;
	height: 300px;
}

#btn {
	
}

.input_col {
	margin-top: 10px;
}

#save {
	
}

.input_wrap .input_title {
    display: table-cell;
    width: 130px;
    padding: 8px 20px;
    font-size: 16px;
    line-height: 34px;
    background: #f6f6f6;
}
