@CHARSET "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800)
	;
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #582D32;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #582D32;
    color: white;
}


figure.snip1200 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 220px;
	max-width: 310px;
	max-height: 310px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}

figure.snip1200 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}

figure.snip1200 img {
	height: 310px;
	max-width: 100%;
	position: relative;
	opacity: 0.9;
}

figure.snip1200 figcaption {
	position: absolute;
	top: 45%;
	left: 7%;
	right: 7%;
	bottom: 45%;
	border: 1px solid white;
	border-width: 1px 1px 0;
}

figure.snip1200 .heading {
	overflow: hidden;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	position: absolute;
	bottom: 0;
	width: 100%;
}

figure.snip1200 h2 {
	display: table;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: center;
	width: auto;
	text-transform: uppercase;
	font-weight: 400;
}

figure.snip1200 h2 span {
	font-weight: 800;
}

figure.snip1200 h2:before, figure.snip1200 h2:after {
	position: absolute;
	display: block;
	width: 1000%;
	height: 1px;
	content: '';
	background: white;
	top: 50%;
}

figure.snip1200 h2:before {
	left: -1000%;
}

figure.snip1200 h2:after {
	right: -1000%;
}

figure.snip1200 p {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	opacity: 0;
	line-height: 1.6em;
	font-size: 0.9em;
}

figure.snip1200 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

figure.snip1200:hover img, figure.snip1200.hover img {
	opacity: 0.25;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.snip1200:hover figcaption, figure.snip1200.hover figcaption {
	top: 7%;
	bottom: 7%;
}

figure.snip1200:hover p, figure.snip1200.hover p {
	opacity: 1;
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}

#main {
	width: 55%;
	margin: 0 auto;
}


#searchForm {
	width: 100%;
	height: 70px;
	background-color: #EAE7E7;
	margin: 40px auto;
	line-height: 70px;
	padding: 0;
	position: relative;
	display: inline-block;
	float: right;
}

#searchForm>select {
	width: 10%;
	height: 30px;
	text-align:left;
	line-height: 70px;
	margin-left: 2%;
	border: 1px #C2BCB9 solid;
}

#searchForm>input {
	width: 30%;
	height: 25px;
}

#loc{
	width: 100%;
	margin-top: 3%;
}

#loc>h2{
	text-align: center;
	font-size: 49px;
	text-shadow: -.08em .08em #C2BCB9;
	color:#582D32;
	margin-bottom: 0;
}

#loc>p{
	text-align: center;
	font-size: 12px;
	color: #C2BCB9;
	margin-top: 1%;
}

#top{
	position: fixed;
	float: right;
	bottom:60px; right:90px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	color:#582D32;
}
#top>img{
	width: 50px;
	height: 50px;
}

#consertList{
	height: 1200px;
}

#top:hover{
	color:#C2BCB9;
}

#paging{
	display: block;
	width: 100%;
	height: 100px;
}


#write{
	cursor: pointer;
	border: 1px #C2BCB9 solid;
	text-align: center;
	height: 40px;
	width: 10%;
	margin: 0 auto;
	line-height: 40px;
	color: #582D32;
	font-weight: bold;
	transition:background-color 2s;
}

#write:hover{
	background-color: #582D32;
	color: white;
}

#voice{
	padding-right: 60px;
	float: right;
	width: 60px;
	height: 60px;
	cursor: pointer;
}

/** voice recoding */
a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
  	margin: 30px auto;
    font-size: 20px;
    text-align: center;
    color: #582D32;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 150px;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }
  
  #div_language{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  color: #582D32;
  font-size: 20px;
  }
	
	
#div_language>select{
	width: 20%;
	height: 30px;
}

#voiceResult{
	display:none;
	text-align: center;
	
}

#write2{
	cursor: pointer;
	border: 1px #C2BCB9 solid;
	text-align: center;
	height: 40px;
	width: 10%;
	margin: 0 auto;
	line-height: 40px;
	color: #582D32;
	font-weight: bold;
	transition:background-color 2s;
}

#write2:hover{
	background-color: #582D32;
	color: white;
}
