@CHARSET "UTF-8";
#choice{
	width: 50%;
	display: block;
	margin: auto;
	text-align: center;
}
#choice ul{
	margin-top: 3%;
	margin-bottom: 5%;

}
#choice li{
	list-style-type: none; padding: 0;
	margin: 0.5%;
	display: inline;
}

#choice a{
	text-decoration: none;
	color: #C2BCB9;
}

#choice a:hover{
	text-decoration: none;
	color: #F6F5F1;
}

